.site-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-wrapper .hero {
  height: 630px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.63)), to(rgba(0, 0, 0, 0.5))), url(../images/hero.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.5)), url(../images/hero.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-wrapper .hero .callout {
  width: 50%;
  margin-top: 160px;
  margin-left: 50px;
}
.site-wrapper .hero .callout h1 {
  color: rgb(255, 0, 89);
  margin-bottom: 35px;
  margin-top: 50px;
}
.site-wrapper .hero .callout button {
  background-color: rgb(255, 0, 89);
  color: #fff;
  width: 150px;
  height: 35px;
  border: rgb(255, 0, 89);
  border-radius: 5px;
  margin-top: 10px;
}
.site-wrapper .hero .callout p {
  color: #fff;
}

.text {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
}
.text h1 {
  color: rgb(255, 0, 89);
  text-align: center;
  margin-bottom: 30px;
}

.photo {
  margin-top: 70px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;
}
.photo .oc1 {
  width: 250px;
  height: 300px;
  background-color: #212121;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 20px 0 20px;
  background-image: url("../images/1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo .oc2 {
  width: 250px;
  height: 300px;
  background-color: #212121;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 20px 0 20px;
  background-image: url("../images/2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo .oc3 {
  width: 250px;
  height: 300px;
  background-color: #212121;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 20px 0 20px;
  background-image: url("../images/3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo .oc4 {
  width: 250px;
  height: 300px;
  background-color: #212121;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 20px 0 20px;
  background-image: url("../images/4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bt button {
  background-color: rgb(255, 0, 89);
  color: #fff;
  width: 150px;
  height: 35px;
  border: rgb(255, 0, 89);
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 650px;
  margin-bottom: 50px;
}